@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body {
	background-image: url(http://d3u4bytlaxl94e.cloudfront.net/assets/background-5e8c592b82120015a5d1e80c29790e1c.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #cceaff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #414141;
}

.brand {
	background: url("https://d3u4bytlaxl94e.cloudfront.net/assets/hxlogo@2x-3b520eb3e2e80b2f394020f8742b58fb.png") no-repeat;
	background-size: 144px 80px;
	width:144px;
	height:80px;
	display:block;
	margin:30px auto;
}

/* Common style */
.container {
	max-width: 1000px;
	width: 90%;
}

.grid a {
	margin-bottom:1em;
	display:inline-block;
}

.grid figure {
	position: relative;
	overflow: hidden;
	margin: 5px;
	background: #333;
}

.grid figure img, .grid figure i {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

 .grid figure i {
 	font-size:6em;
 	color:#1b7acc;
 }

.grid figcaption {
	position: absolute;
	top: 0;
	z-index: 11;
	padding: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.grid figcaption h2 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin: 0 0 10px 0;
	color: #092041;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 2em;
	line-height:0.8em;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.grid figcaption p {
	padding: 0 20px;
	color: #aaa;
	font-weight: 300;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption h2,
.grid figcaption p {
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}

.grid figure button {
	position: absolute;
	padding: 4px 20px;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Style for SVG */
.grid svg {
	position: absolute;
	top: -1px; /* fixes rendering issue in FF */
	z-index: 10;
	width: 100%;
	height: 100%;
}

.grid svg path {
	fill: #fff;
}

/* Hover effects */
.grid a:hover figure img {
	opacity: 1;
}

.grid a:hover figcaption h2,
.grid a:hover figcaption p {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.grid a:hover figcaption p {
	opacity: 0;
}

/* Individual styles

.gitHub .grid figure button {
	top: 50%;
	left: 50%;
	color: #fff;
	background-color: #93c;
	border-color: #8a2eb8;
	opacity: 0;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
	transform: translateY(-50%) translateX(-50%) scale(0.25);
}

.gitHub .grid a:hover figure button {
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(1);
	transform: translateY(-50%) translateX(-50%) scale(1);
}*/