body header {
  -webkit-animation: ColourChange 34s ease infinite;
  -moz-animation: ColourChange 34s ease infinite;
  -o-animation: ColourChange 34s ease infinite;
  animation: ColourChange 34s ease infinite;
}
@-webkit-keyframes ColourChange {
  0%{background-color:@header-bg}
  50%{background-color:@header-bg-alt}
  100%{background-color:@header-bg}
}
@-moz-keyframes ColourChange {
  0%{background-color:@header-bg}
  50%{background-color:@header-bg-alt}
  100%{background-color:@header-bg}
}
@-o-keyframes ColourChange {
  0%{background-color:@header-bg}
  50%{background-color:@header-bg-alt}
  100%{background-color:@header-bg}
}
@keyframes ColourChange {
  0%{background-color:@header-bg}
  50%{background-color:@header-bg-alt}
  100%{background-color:@header-bg}
}
