.pagination {
  text-align:center;
  float:none;
  display:block;
  padding:1em;
  border-top:solid 1px rgb(136,196,56);
  border-bottom:solid 1px rgb(136,196,56);

  * {
    padding:12px;
    text-align:center;
  }

}
