---
layout: default
title: Blog by The Holiday Extras Tech Team
category: blog
---
<div itemscope itemType="http://schema.org/Blog">
  <header>
    <div class="container">
      <h1 itemprop="name headline">The Hungry Geek</h1>
      <p>by <span itemprop="copyrightHolder publisher">Holiday Extras</span></p>
    </div>
  </header>
  <main class="container">
    <ul class="posts">
      {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}">
          <section>
            <h2>&#9998; {{ post.title }}</h2>
            <div class="blog-summary">
              <blockquote>{{ post.excerpt | strip_html }}</blockquote>
              <i>By {{ post.author }} ~ {{ post.date | date: "%-d %B %Y"}}</i>
              <small><b>Tags:</b> {{ post.tags | join: ' '}}</small>
            </div>
          </section>
        </a>
      </li>
      {% endfor %}
    </ul>
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
      <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <span>{{ page }}</span>
      {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
      <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
  </main>
</div>
