---
layout: default
title: The Holiday Extras Tech Team
---
<div class="team">
  <header>
    <div class="container">
      <h1>The tech team</h1>
      <p>at <span>Holiday Extras</span></p>
    </div>
  </header>
  <main class="container">
    {% for team in site.data.team %}
      <h2>{{ team.title }}</h2>
      <ul>
        {% for member in team.members %}
          <li>
            <h3>{{ member.name }}</h3>
            <img src="{{ member.email | to_gravatar }}" alt="A photo of {{ member.name }}" />
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </main>
</div>
