<footer role="contentinfo" class="footer hidden-print">
  <div class="footer-bottom">
    <div class="container">
      <div class="col-sm-8">
        <p class="small">&copy; {{ site.time | date: '%Y' }} <span itemprop="publisher copyrightHolder">Holiday Extras</span> Ltd. Company registered in England and Wales (01693250).</p>
        <p class="small">Office registered at Ashford Road, Newingreen, Kent, UK, CT21 4JF</p>
      </div>
      <div class="col-sm-4 text-left">
        <ul class="pull-right list-inline">
          <li><a href="https://twitter.com/hxtechteam"><i aria-hidden="true" class="fa fa-lg fa-twitter" title="Holiday Extras Tech Team on Twitter"></i><span class="sr-only">Holiday Extras Tech Team on Twitter</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
