<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hungry Geek - {{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="The Hungry Geek - Blog by Holiday Extras">
    <meta name="keywords" content="JS, Javascript, CSS, PHP, DevOps, Ops, Tech, Selenium, CSS, HTML, Holiday Extras, Development, Web, Website, Programming">
    <meta http-equiv="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-title" content="The Hungry Geek">

    <!-- Twitter Cards Meta Data - DECOMISHIONED HUNGRY GEEK TWITTER
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:site:id" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:creator:id" "">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:domain" content=""> -->

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% include styles.html %}
  </head>
  <body>