<nav role="navigation">
  <ul>
    <li {% if page.category == 'blog' %}class="active"{% endif %}><a href="{{ site.url }}{{ site.baseurl }}/">Blog</a></li>
    <li {% if page.category == 'project' %}class="active"{% endif %}><a href="{{ site.url }}{{ site.baseurl }}/projects">Projects</a></li>
    <li {% if page.category == 'speaking' %}class="active"{% endif %}><a href="{{ site.url }}{{ site.baseurl }}/speaking">Speaking</a></li>
    <li {% if page.category == 'team' %}class="active"{% endif %}><a href="{{ site.url }}{{ site.baseurl }}/team">The Team</a></li>
    <li {% if page.category == 'careers' %}class="active"{% endif %}><a href="{{ site.url }}{{ site.baseurl }}/careers" target="_blank">Careers</a></li>
  </ul>
</nav>
