{% assign this_year = 'now' | date: "%Y" %}
{% assign filter_by_year = site.data.speaking | sort: "year" | group_by: "year" %}
{% assign todayFormatted = site.time | date: '%Y%m%d' %}

<hr />
<section>
  <ul>
    {% for event in site.data.speaking %}
      {% assign url = event.speaker | replace:' ','' %}
      <li>
        <div class="event-logo">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/img/events/{{ event.logo }}" alt="{{ event.name }}" />
        </div>
        <div>
          <h3>{{ event.talk }}</h3>
          <h4>
            {% if url.size > 0 %}
              by <a href="{{ site.url }}{{ site.baseurl }}/{{ url }}" title="View {{ event.speaker }}'s Profile'">{{ event.speaker }}</a>
            {% else %}
              by {{ event.speaker }}
            {% endif %}
          </h4>
          <div class="event-meta">
            <div class="date"><i class="fa fa-fw fa-calendar"></i> {{ event.pretty_date }}</div>
            <div class="location"><i class="fa fa-fw fa-location-arrow"></i> {{ event.location }}</div>
            {% if event.link %}<div class="website"><i class="fa fa-fw fa-globe"></i> <a href="{{ event.link }}" title="Visit the website for {{ event.name }}" target="_blank">Website</a></div>{% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
