* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  line-height:1.61;
}

body {
   font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   color:rgb(51,51,51);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:400;
  line-height:1.1em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:400;
  line-height:1.1em;  
}

h1 {
  font-size:3em;
  font-weight:200;
}
p {
  padding:0.5em 0;
}
a {
  color:rgb(136,196,56);
}
hr {
  border: none;
  border-top: solid 1px rgb(221,221,221);
  margin:1em;
}
hr.end {
  padding: 0;
  border: none;
  border-top: medium double rgb(221,221,221);
  color: rgb(221,221,221);
  text-align: center;
  margin:2em 1em 1em 1em;
}
hr.end:after {
  content: "\269b";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.container {
  width:90%;
  max-width:40em;
  margin:0px auto;
}

/* -- NAV -- */
nav {
  overflow:hidden;
  position:absolute;
  z-index:1;
  text-align:center;
  width:100%;
}
nav ul {
  text-align:center;
  margin-top:0.5em;
}
nav ul li {
  display:inline-block;
}
nav ul li.active {
  background:rgba(255,255,255,0.3);
}
nav ul li a {
  font-size:1.4em;
  padding:0.5em 1em;
  font-weight:200;
  display:block;
  text-decoration:none;
  color: rgba(136,196,56,1);
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* -- HEADER -- */
header {
  padding:6em 0 4em 0;
  color:rgb(255,255,255);
  position:relative;
  background: linear-gradient(274deg, rgba(102,0,153,1), rgba(38,76,122,1));
  background-size: 400% 400%;

  -webkit-animation: AnimationName 17s ease infinite;
  -moz-animation: AnimationName 17s ease infinite;
  -o-animation: AnimationName 17s ease infinite;
  animation: AnimationName 17s ease infinite;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}
@keyframes AnimationName {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}
header:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  margin-left: -28px;
  border-bottom: 28px solid rgb(255,255,255);
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
}
header h1, header p  {
  text-align:center;
  max-width:90%;
  margin:0px auto;
}

/* -- FOOTER -- */
footer {
  margin-bottom:1em;
  overflow:hidden;
  clear:both;
  padding-top:1em;
}
footer small {
  float:right;
  display:block;
  clear:both;
}
footer a {
  padding:0.9em 0;
}

/* -- POSTS -- */
ul.posts {
  list-style:none;
  margin-top:1.5em;
}
ul.posts li a {
  text-decoration:none;
  color:inherit;
}
ul.posts li a section {
  padding:1em 0;
  border-bottom:dotted 1px rgb(136,196,56);
}
ul.posts li a section h2 {
  color:rgb(136,196,56);
  text-decoration:none;
  margin-bottom: 0.5em;
}
ul.posts li a section h2:hover {
  text-decoration:underline;
}
ul.posts li a section i, ul.posts li a section small {
  padding:0.5em 0;
  display:block;
}
ul.posts li:last-of-type a section {
  border:none;
}

/* -- POST -- */
.post {
  margin-bottom:1em;
}
.post img {
  max-width: 100%;
  display:block;
  margin:0px auto;
}
.post-content {
  margin-top:1.5em;
}
.post ul, .post ol {
  padding:0 0 0.5em 1.5em;
}
pre {
  background: rgb(250,250,250);
  padding: 1em;
  border-radius: 0.25em;
  border: solid 1px rgb(238,238,238);
  margin:0.5em;
  overflow-x:scroll;
}
pre a {
  color:rgba(0,0,0,0.2);
  padding:0 0.5em 0 0;
  margin-right:0.5em;
  text-decoration: none;
  border-right:solid 1px;
  display:inline-block;
}
p > code {
  background: rgb(250,250,250);
  padding: 0.25em;
  border-radius: 0.25em;
  border: solid 1px rgb(238,238,238);
}

/* -- Projects -- */
.projects {
  overflow:hidden;
  list-style:none;
  margin:1.5em 0;
}
.projects li a {
  color:inherit;
  text-decoration:none;
  display:block;
  float:left;
  width:48%;
  margin:1%;
  padding:1em;
  text-align:center;
  height:10em;
  border:solid 1px rgb(221,221,221);
  border-radius:0.5em;
  transition: all .2s ease-in-out;
  position:relative;
}
.projects li a:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  background:rgb(222,75,149);
  color:rgba(255,255,255,0.9);
}

.project {
  margin-bottom:1em;
}
.project ul, .project ol {
  padding-left:1.5em;
}
.project img {
  max-width: 100%;
}
.project-content {
  margin-top:1em;
}
.project .downloads {
  text-align:center;
}
.project .downloads a {
  position:relative;
  display:inline-block;
}
.project .downloads a small {
  position:absolute;
  right:0;
  left:0;
  bottom:-0.6em;
  color:rgb(136,196,56);
}
.project-summary blockquote{
  font-size:0.8em;
}
.project .project-content iframe {
margin-bottom:1em;
}

/* Team */
.team-member header img {
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  margin: 0 auto 20px;
  display: block;
}
/* pagination */
.pagination {
  text-align:center;
  float:none;
  display:block;
  padding:1em;
  border-top:solid 1px rgb(136,196,56);
  border-bottom:solid 1px rgb(136,196,56);
}
.pagination  * {
  padding:12px;
  text-align:center;
}

@media all and (min-width: 768px) {
  h1 {
    font-size:5em;
  }
  .pagination * {
    padding:0;
  }
}