header {
  background:$header-bg;
}

select {
  background: transparent;
  border: none;
  color: #FFF;
  font-family: "Yanone Kaffeesatz",sans-serif;
  font-size: 1em;
  text-align: right;
  text-decoration: none;
}

select option {
  font-size: 0.8em;
  text-decoration: none;
}

select:focus {
  outline: none;
}
