.speaking {

  section {
    margin: 2.5em 0;
  }

  h2 {
    font-size: 2.2em;
  }
  ul {
    list-style:none;
    padding:0;
    margin:0;
    li {
      border-bottom:solid 1px $pagination-border;
      padding:1em 0;
      overflow:hidden;
      h4 {
        padding:0;
        margin:0;
      }
    }
  }
  .past-talks ul p {
    font-size:0.83em;
  }
  .current-talks ul:empty:after {
    content:"No upcoming events :(";
  }
}

.event-logo {
  float:left;
  width:28%;
  padding-right:2%;
  img {
    width:100%;
  }
  + div {
    width:70%;
    float:right;
  }
}

.speaker-profiles {

  .profiles-list {
    list-style: none;
  }

  .profile {
    min-height: 200px;
    margin: 2em 0;

    &:after {
      clear: both;
      content: ' ';
      display: block;
      height: 0px;
      width: 0px;
    }

    > img {
      float: left;
      width: 105px;
      height: 105px;
      margin-right: 0.8em;
      border-radius:50%;
      padding:4px;
      border:solid 1px $img-border;
      background:$img-bg;
    }

    h3 {
      font-size: 1.7em;
      margin: 0;

      a {
        text-decoration: none;
      }

    }

  }

  .profile-details {
    float: left;
  }

  .profile-job {
    margin-bottom: 2em;
  }

}

@media all and (min-width: 780px) {
  .speaking-calendar .event-meta span {
    display: inline;
  }
  .speaker-profiles .profile > img {
    width: 200px;
    height: 200px;
    margin-right: 2em;
  }
  .speaker-profiles .profile h3 {
    margin-top: 0.2em;
  }
}
