---
layout: default
category: careers
---

<div>
  <header>
    <div class="container">
      <h1>{{ page.title }}</h1>
      <p>{{ page.tagline }}</p>
    </div>
  </header>
  <main class="container">
    {{ content }}
    <ul class="exhibition exhibition-jobs">
    {% for job in site.jobs %}
      <li>
        <a href="{{ job.url | prepend: site.baseurl | replace: '//', '/' }}">
          <section>
            <h2>{{ job.title }}</h2>
            <div class="project-summary">
              <blockquote>{{ job.tagline }}</blockquote>
            </div>
          </section>
        </a>
      </li>
    {% endfor %}
    </ul>
    <h2>Are we missing your role?</h2>
    <p>We'd love to hear what your passionate about and what you think you could do for us, so send us an email and let's get talking <a href="mailto:join@holidayextras.com">join@holidayextras.com</a>!</p>
  </main>
</div>
