---
layout: default
---

<div>
  <header>
    <div class="container">
      <h1>{{ page.title }}</h1>
      {%if page.tagline %}<p>{{ page.tagline }}</p>{% endif %}
    </div>
  </header>
  <main class="container">
    <article class="page competition">
      {{ content }}
      <div class="terms">
        <h3>Competition Terms</h3>
        <p><b>The promoter</b> is Holiday Extras Ltd (company no. 01693250) whose registered office is at The Wave, Holiday Extras Campus, Ashford Road, Newingreen, Kent, UK, CT21 4JF.</p>
        <p>
          <ul>
            <li>No purchase is necessary to take part in the competition.</li>
            <li>The competition is not open to employees (or members of their immediate families) of Holiday Extras or anyone involved in promoting this competition.</li>
            <li>The promoter reserves the right to cancel or amend the competition and these terms and conditions without notice in the event of a catastrophe, war, civil or military disturbance, act of God or any actual or anticipated breach of any applicable law or regulation or any other event outside of the promoter's control.</li>
            <li>Any changes to the competition will be notified to entrants as soon as possible by the promoter.</li>
            <li>No responsibility can be accepted for entries that are lost or delayed, or which are not received for any reason.</li>
            <li>The winners will be chosen at random from all those entrants who have selected the correct answers.</li>
            <li>Only one entry per person.</li>
            <li>Winners will be notified by Direct Message on Twitter.</li>
            <li>If we do not get a response within 3 working days, the prize will be offered to a runner-up.</li>
            <li>If the runner up does not respond or is unable to accept the prize the offer will be deemed null and void and that prize redrawn.</li>
            <li>Our decision is final, and no correspondence about the competition will be entered into.</li>
            <li>No cash alternative or any other prize can be offered.</li>
            <li>The competition and these terms and conditions will be governed by English law and any disputes will be subject to the exclusive jurisdiction of the courts of England.</li>
            <li>Entry into the competition will be deemed as acceptance of these terms and conditions.</li>
            <li>Automated entries are not permitted and will be disqualified.</li>
            <li>Transportation to and from the conference is not included.</li>
            <li>This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook, Twitter or any other Social Network. You are providing your information to Holiday Extras and not to any other party. The information provided will be used in conjunction with the <a href="http://www.holidayextras.co.uk/about-us/privacy-policy.html" title="privacy policy">Holiday Extras Privacy Policy</a></li>
          </ul>
        </p>
      </div>
    </article>
  </main>
</div>
