---
layout: default
title: Blog by The Holiday Extras Tech Team
category: blog
---

<div itemscope itemType="http://schema.org/Blog">
  <header>
    <div class="container">
      <h1 itemprop="name headline">The Tech Team @ Holiday Extras</h1>
    </div>
  </header>
  <main class="container">
    <ul class="posts">
      {% for post in site.posts %}
      <p> {{ category | first }} </p>
       {% if post.categories contains 'Remote' %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}">
            <section>
              <h2>{{ post.title }}</h2>
              <!--<small class="tags"><b>Tags:</b> {{ post.tags | join: ' '}}</small>- No point having these until we can filter by them -->
              <div class="blog-summary">
                <blockquote>{{ post.excerpt | strip_html | truncatewords: 50}}</blockquote>
                {% assign author = site.data.members.[post.author] %}
                <div class="author">
                  {% if author.gravatar_md5 %}
                    <img src="http://www.gravatar.com/avatar/{{ author.gravatar_md5 }}?s=200" alt="A photo of {{ member.name }}" />
                  {% else %}
                    <img src="{{ site.url }}{{ site.baseurl }}/assets/img/avatar-default_360.png" alt="A photo of {{ member.name }}" />
                  {% endif %}
                  <div class="author-details">By {{ author.name }}<br/>{{ post.date | date: "%-d %B %Y"}}</div>
                </div>
              </div>
            </section>
          </a>
        </li>
       {% endif %}
      {% endfor %}
    </ul>
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
      <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <span>{{ page }}</span>
      {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
      <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
  </main>
</div>
