---
layout: default
category: speaking
---
<article class="profile">
  <header class="profile-header">
    {% if page.gravatar_md5 %}
      <img src="http://www.gravatar.com/avatar/{{ page.gravatar_md5 }}?s=300" alt="A photo of {{ page.title }}" />
    {% endif %}
    <h1 class="profile-title">{{ page.title }}</h1>
    <p class="profile-tagline">{{ page.tagline }}</p>
    <div class="profile-social">
      {% if page.twitter %}<a href="https://twitter.com/{{page.twitter}}" title="Follow {{page.title}} on Twitter" class="fa fa-3x fa-twitter fa-fw" target="_blank" ></a>{% endif %}
      {% if page.github %}<a href="https://github.com/{{page.github}}" title="View {{page.title}} on GitHub" class="fa fa-3x fa-github fa-fw" target="_blank" ></a>{% endif %}
    </div>
  </header>
  <div class="container">
    <section>
      <div class="profile-content">
        {{ content }}
      </div>
    </section>
    {% include speaker_profile_calendar.html %}
  </div>
</article>

<i ></i>
