---
layout: default
category: project
---
<div>
  <header>
    <div class="container">
      <h1>{{page.title}}</h1>
    </div>
  </header>
  <main class="container">
    {{content}}
    <ul class="exhibition exhibition-projects">
      <li>
        <a href="https://github.com/holidayextras/culture">
          <section>
            <h2>Culture</h2>
            <div class="project-summary">
              <blockquote>A collection of documents that outline Holiday Extras' culture and development expectations</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/jsonapi-server/">
          <section>
            <h2>jsonapi-server</h2>
            <div class="project-summary">
              <blockquote>A config driven NodeJS framework implementing json:api.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/jsonapi-client/">
          <section>
            <h2>jsonapi-client</h2>
            <div class="project-summary">
              <blockquote>Easily consume a json:api service in Javascript.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/jsonapi-store-mongodb">
          <section>
            <h2>jsonapi-store-mongodb</h2>
            <div class="project-summary">
              <blockquote>A mongodb database handler for jsonapi-server.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/jsonapi-store-relationaldb">
          <section>
            <h2>jsonapi-store-relationaldb</h2>
            <div class="project-summary">
              <blockquote>A relational database handler for jsonapi-server.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/jsonapi-store-elasticsearch">
          <section>
            <h2>jsonapi-store-elasticsearch</h2>
            <div class="project-summary">
              <blockquote>An elasticsearch handler for jsonapi-server.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/hxMetrics">
          <section>
            <h2>HXMetrics</h2>
            <div class="project-summary">
              <blockquote>Instrument NodeJS modules without touching their source code.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="http://tech.holidayextras.co.uk/ui-toolkit/">
          <section>
            <h2>UI-Toolkit</h2>
            <div class="project-summary">
              <blockquote>A set of CSS &amp; React components in a handy toolkit.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/WorkerJS/">
          <section>
            <h2>Worker.js</h2>
            <div class="project-summary">
              <blockquote>Makes it easy to write lightweight, concise, concurrent, clustered Javascript.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/esq/">
          <section>
            <h2>ESQ</h2>
            <div class="project-summary">
              <blockquote>An easy way to build elasticsearch queries without having to writing lots and lots of code</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/node-pester/">
          <section>
            <h2>Pester</h2>
            <div class="project-summary">
              <blockquote>Will pester you, if you're running the wrong version of Node.js for your app.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/hxTracer/">
          <section>
            <h2>HXTracer</h2>
            <div class="project-summary">
              <blockquote>A dependency-free Javascript Tracer.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/flex-less">
          <section>
            <h2>Flex-Less</h2>
            <div class="project-summary">
              <blockquote>A mixin created to enable you to use all basic functions of CSS flexbox for all supported flexbox browsers.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/node-asterisk-ami/">
          <section>
            <h2>Asterisk-ami</h2>
            <div class="project-summary">
              <blockquote>An extremely lightweight Asterisk AMI connector.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="http://tech.holidayextras.co.uk/ui-toolkit/">
          <section>
            <h2>UI-Toolkit</h2>
            <div class="project-summary">
              <blockquote>A collection of styled components built with React</blockquote>
            </div>
          </section>
        </a>
      </li>
    </ul>
  </main>
</div>
