---
layout: default
category: project
---
<article class="project">
  <header class="project-header">
    <h1 class="project-title">{{ page.title }}</h1>
    <p>{{ page.tagline }}</p>
    <div class="downloads"><a href="#"><i class="fa fa-3x fa-cloud-download fa-fw"></i><small>.zip</small></a><a href="#"><i class="fa fa-3x fa-cloud-download fa-fw"></i><small>.tgz</small></a><a href="#"><i class="fa fa-3x fa-github fa-fw"></i></a></div>
  </header>
  <div class="container">
    <div class="project-content">
      {{ content }}
    </div>
    <small><b>Tags</b> {{page.tags | join: ', '}}</small>
    {% if page.comments %}
      {% include disqus.html %}
    {% endif %}
  </div>
</article>