---
layout: default
category: project
---
<div>
  <header>
    <div class="container">
      <h1>{{page.title}}</h1>
    </div>
  </header>
  <main class="container">
    {{content}}
    <ul class="exhibition exhibition-projects">
      <li>
        <a href="https://github.com/holidayextras/culture">
          <section>
            <h2>Culture</h2>
            <div class="project-summary">
              <blockquote>A collection of documents that outline Holiday Extras' culture and development expectations</blockquote>
            </div>
          </section>
        </a>
      </li>
       <li>
        <a href="https://github.com/holidayextras/WorkerJS/">
          <section>
            <h2>Worker.js</h2>
            <div class="project-summary">
              <blockquote>Makes it easy to write lightweight, concise, concurrent, clustered Javascript.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/esq/">
          <section>
            <h2>ESQ</h2>
            <div class="project-summary">
              <blockquote>An easy way to build elasticsearch queries without having to writing lots and lots of code</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/node-pester/">
          <section>
            <h2>Pester</h2>
            <div class="project-summary">
              <blockquote>Will pester you, if you're running the wrong version of Node.js for your app.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/hxTracer/">
          <section>
            <h2>HXTracer</h2>
            <div class="project-summary">
              <blockquote>A dependency-free Javascript Tracer.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/flex-less">
          <section>
            <h2>Flex-Less</h2>
            <div class="project-summary">
              <blockquote>A mixin created to enable you to use all basic functions of CSS flexbox for all supported flexbox browsers.</blockquote>
            </div>
          </section>
        </a>
      </li>
      <li>
        <a href="https://github.com/holidayextras/node-asterisk-ami/">
          <section>
            <h2>Asterisk-ami</h2>
            <div class="project-summary">
              <blockquote>An extremely lightweight Asterisk AMI connector.</blockquote>
            </div>
          </section>
        </a>
      </li>
    </ul>
  </main>
</div>
