---
layout: default
category: speaking
nav: speaking
---
{% assign speakers = site.pages | where: "category","speaker" %}
<div class="speaking">
  <div class="jumbotron jumbotron-cover" style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/speaker.jpg');">
  </div>
  <div class="container block-sm">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="page-header">{{page.title}}</h1>
      <div class="lead">{{content}}</div>
      {% include speaking_calendar.html %}
    </div>
  </div>
</div>
