---
layout: default
category: speaking
---
<article class="speaker">
  <header class="speaker-header">
    <h1 class="speaker-title">{{ page.title }}</h1>
    <p class="speaker-tagline">{{ page.tagline }}</p>
    <div class="speaker-social">
      {% if page.twitter %}<a href="https://twitter.com/{{page.twitter}}" title="Follow {{page.title}} on Twitter" class="fa fa-3x fa-twitter fa-fw" target="_blank" ></a>{% endif %}
      {% if page.github %}<a href="https://github.com/{{page.github}}" title="View {{page.title}} on GitHub" class="fa fa-3x fa-github fa-fw" target="_blank" ></a>{% endif %}
    </div>
  </header>
  <div class="container">
    <section>
      <div class="speaker-content">
        {{ content }}
      </div>
    </section>
    {% include speaker_profile_calendar.html %}
  </div>
</article>

<i ></i>
