---
layout: default
category: team
---
<div class="team">
  <header>
    <div class="container">
      <h1>{{page.title}}</h1>
    </div>
  </header>
  <main>
    {{content}}
    <ul>
      {% for member_hash in site.data.members %}
        {% assign member = member_hash[1] %}
        {% if member.currently_employed == yes %}
          <li>
            {% if member.gravatar_md5 %}
              <img src="http://www.gravatar.com/avatar/{{ member.gravatar_md5 }}?s=400" alt="A photo of {{ member.name }}" />
            {% else %}
              <img src="{{ site.url }}{{ site.baseurl }}/assets/img/avatar-default_360.png" alt="A photo of {{ member.name }}" />
            {% endif %}
            <div class="overlay">
              <h2>{{ member.name }}</h2>
              <p>{{ member.role }}</p>
              <div class="social">
                <a href="http://www.twitter.com/{{ member.twitter }}" title="{{ member.name }} twitter" class="twitter"><i class="fa fa-twitter fa-fw"></i>@{{ member.twitter }}</a>
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </main>
</div>
