---
layout: default
category: update
---
<article class="post" itemscope itemType="http://schema.org/BlogPosting">
  <header class="post-header">
    {% if page.title %}
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% endif %}
  </header>
  <div class="container">
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
    <small class="tags"><b>Tags</b> <span itemprop="about keywords">{{page.tags | join: ', '}}</span></small>
    {% if page.comments %}
      {% include disqus.html %}
    {% endif %}
  </div>
</article>
